.header__nav {
    display: flex;
    width: 100%;
}

.header__logo {
    width: 20%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;

}
.header__list {
    width: 80%;
    display: flex;
    column-gap: 55px;
    background: #444444;
    border-radius: 0 8px 8px 0;
    justify-content: center;
    padding: 16px 0;
    color: white;
}